<!DOCTYPE html>
<html>
  <head>
    <title>FleXpace SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="/light.css">
  </head>

  <body>
    <nav>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>

          Home
        </a>
      </div>

      <div>
        <a href="/new_warehouse_form">
          <i class="fas fa-plus fa-fw"></i>

          Add a Warehouse
        </a>
      </div>



      <div>
        <a href="/new_potential_rental_form">
          <i class="fas fa-plus fa-fw"></i>

          Lease your storage
        </a>
      </div>
      
       <div>
        <a href="/potential_rentals">
          <i class="fas fa-plus fa-fw"></i>

          Rent someone else's storage
        </a>
      </div>

  <h1>
  Welcome to FleXpace!
</h1>

<h2>A peer-to-peer platform for businesses who want to trade physical storage space</h2>

<div>Step 1: Add your warehouse</div>
<div>Step 2: Post a potential listing for others to rent</div>
<div>Step 3: Search other listings for you to rent</div>
<div>Step 4: Enhance Profits!</div>
  


      <hr>

      <% if current_user.blank? %>
        <div>
          <a href="/users/sign_in">
            Sign in
          </a>
        </div>

        <div>
          <a href="/users/sign_up">
            Sign up
          </a>
        </div>
      <% else %>
        <div>
          <a href="/users/edit">
            Edit profile
          </a>
        </div>

        <div>
          <a href="/users/sign_out" data-method="delete">
            Sign out
          </a>
        </div>
      <% end %>
    </nav>

    <%= yield %>
  </body>
  

</html>

